body{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;;
    font-size: 16px;
    line-height: 200%;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
    color: #9B69D0;
    margin: 1em 0;
}
a{
    color: #976DD0;
}
nav{
    font-size: 20px;
}

.nav-link{
    color: #47525E;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.2px;
    white-space: nowrap;
}

@media only screen and (min-width: 1200px){
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-left:25px;
        padding-right:25px;
    }
    nav{
        border-bottom: 1px solid #7E55F3
    }
    .left-section {
        width: 55%;
        padding-right: 1em;
    }
    .right-section {
        width: 45%;
        padding-left: 1em;
    }
} 
.navbar-light .navbar-nav .active > .nav-link{
    color: #976DD0;
}

.bg-purple {
    background-color: #9B69D0;
}

.purple {
    color: #9B69D0;
}

.font-reset {
    font-family: Arial, sans-serif;
}

.extra-rounding {
    border-radius: 20px;
}

.emphasize {
    letter-spacing: 2px;
}

.strikethrough {
    text-decoration: line-through;
}

.extra-small {
    font-size: 10px;
}

.section  {
    margin: 1em 0;
}

.vertical-half-height {
    height: 50%;
}

.vertical-spacing {
    margin-bottom: 1em;
}

.spacer {
    height: 3em;
    width: 100%;
}

hr {
    border-color: #9B69D0;
}


.table-purple td, .table-purple th {
    color: white;
    background-color: #9B69D0;
}
.table-purple tbody tr:hover {
    filter: brightness(110%)
}
.row-muted td, .row-muted th {
    background-color: #a98cd0;
    color: #d5badd;
}